:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-color: white;
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin-top: 50px;
  height: 60px;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  color: darkblue;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.asd {
  width: 800px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav img {
  width: 80px;
}

.hero {
  padding: 50px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: left;
  /* place-items: right; */
  background-color: #1f2328;
}

.div-top {
  background-color: #1f2328;
}

.div-bottom {
  color: black;
  display: flex;
}

.div-bottom img {
  width: 120px;
  /* display: flex;
  flex-direction: row;
  justify-content: left; */
}

.div-images {
  width: 150px;
  margin-left: 50px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  column-gap: 10px;
}
